.main--about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main--about-me div {
    width: 550px;
    height: 50px;
}
.main--project-tarjet {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skills--container {
    flex-direction: row;
    justify-content: space-evenly;
}